---
layout: default
title: Archive
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>
  {% for post in site.posts %}
  {% capture this_year %}{{ post.date | date: "%b %Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%b %Y" }}{% endcapture %}

  {% if forloop.first %}
  <ul>
    <li><span>{{this_year}} &nbsp;</span>
      <ul>
  {% endif %}
        <li>{{ post.date | date: "%d" }} : <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% if forloop.last %}
      </ul>
    </li>
  </ul>
  {% else %}
    {% if this_year != next_year %}
      </ul>
    </li>
  </ul>
  <ul>
      <li><span>{{next_year}} &nbsp;</span>
      <ul>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>